In [1]:
import pandas as pd
import numpy as np
import requests

Load data from wikipedia page using `read_html` method of pandas.

In [2]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Remove all unnassigned boroughs.

In [3]:
df = df.loc[~df['Borough'].str.startswith('Not ')]
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Confirm there are no boroughs with `Not assigned` as values.

In [4]:
df.loc[df['Borough'].str.startswith('Not ')]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

Set all neighbourhood with values `Not assigned` as the value of its borough.

In [5]:
df.loc[df['Neighbourhood'].str.startswith('Not ')]
# no rows matched, so skip this process.

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

Print dataframe's shape

In [13]:
df.shape

(103, 3)